body {
  font-family: arial; 
}

textarea {
  padding: 6px;
}

form {
  border: 1px solid silver; 
  padding: 3px; 
  background: #fafafa; 
  margin-bottom: 0px; 
  width: 100%
}

#eval_out {
  margin-top: 3px; 
  border: 1px solid silver; 
  height: 200px; 
  overflow: auto; 
  background: white;

}

#samples {
  margin-left: 8px; 
  margin-right: 8px; 
  border: 1px solid silver; 
  padding: 4px; 
  width: 280px;
}

.run_sample {
  font-size: x-small;
  float: right;
}

#map3d {
  border: 0px solid silver; 
  height: 600px;
  width: 1024px
}

#load_sample_label {  
  font-weight: bold; 
  margin-bottom: 4px;
}

.button { background-color: #D0D0D0; cursor: pointer; }
.button:link { background-color: #D0D0D0; cursor: pointer; }
.button:hover { background-color: #B0B0FF; cursor: pointer; }
.button:active { background-color: #FFB0B0; cursor: pointer; }
.medw { width: 80px; }
.wide { width: 120px; }
.narrow { width: 40px; }

.title {
  font-family: Impact;
  font-size: 50pt;
}
